In [70]:
import pandas as pd
df = pd.read_csv(r'C:\Users\Administrator\Desktop\testDataset.csv')

In [71]:
df.head()

     1,3,4
0    2,3,5
1  1,2,3,5
2      2,5
3  1,2,3,5

In [72]:
df.shape

(4, 1)

In [73]:
df.columns

Index(['1,3,4'], dtype='object')

In [74]:
df.values

array([['2,3,5'],
       ['1,2,3,5'],
       ['2,5'],
       ['1,2,3,5']], dtype=object)

In [75]:
#Her satırda tek bir gözlem birimi varmış gibiydi bunu virgül ile tek tek ayırma işlemi yaptık.
#Ürünleri eşsiz olacak şekilde değerlendirmemiz gerekiyor.

data = list(df["1,3,4"].apply(lambda x:x.split(',')))
data

[['2', '3', '5'], ['1', '2', '3', '5'], ['2', '5'], ['1', '2', '3', '5']]

In [76]:
# TransactionEncoded bize istediğimiz True-False arrayını dönüştürmede yardımcı oluyor.

from mlxtend.preprocessing import TransactionEncoder

In [77]:
#Veri setini istenilen True-False array’ine çevirdim.

te = TransactionEncoder()
te_data = te.fit(data).transform(data)
df = pd.DataFrame(te_data, columns = te.columns_)
df

       1     2      3     5
0  False  True   True  True
1   True  True   True  True
2  False  True  False  True
3   True  True   True  True

In [78]:
from mlxtend.frequent_patterns import apriori

In [79]:
# df = True-False array ile dönüştürülmüş dataframe
# min_support = Tüm kombinasyonların support değerini istemiyorum bu yüzden belirli bir eşik değerini supporta göre getir.
# use_colnames = True, sutün isimlerini göster.
# verbose = 1, Toplam kombinasyon sayısını verir.

In [80]:
deger= input(' Min. Support değerini girin: ')
min_support = float(deger)

 Min. Support değerini girin: 0.2

In [81]:
df1 = apriori(df, min_support, use_colnames = True, verbose=1)
df1

Processing 4 combinations | Sampling itemset size 4

    support      itemsets
0      0.50           (1)
1      1.00           (2)
2      0.75           (3)
3      1.00           (5)
4      0.50        (2, 1)
5      0.50        (3, 1)
6      0.50        (5, 1)
7      0.75        (3, 2)
8      1.00        (5, 2)
9      0.75        (3, 5)
10     0.50     (3, 2, 1)
11     0.50     (5, 2, 1)
12     0.50     (3, 5, 1)
13     0.75     (3, 2, 5)
14     0.50  (3, 5, 2, 1)

In [82]:
dosya = "C:\\Users\\Administrator\\Desktop\\sonuc_datasetName_minSup.csv"

df1.to_csv(dosya)

In [53]:
from mlxtend.frequent_patterns import association_rules

association_rules(df1, metric = "confidence", min_threshold = 0.6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1),(2),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
1,(3),(1),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
2,(1),(3),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
3,(1),(5),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
4,(3),(2),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
5,(2),(3),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
6,(5),(2),1.00,1.00,1.00,1.000000,1.000000,0.000,inf
7,(2),(5),1.00,1.00,1.00,1.000000,1.000000,0.000,inf
8,(3),(5),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
9,(5),(3),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
10,"(3, 2)",(1),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
11,"(3, 1)",(2),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
12,"(2, 1)",(3),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
13,(3),"(2, 1)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
14,(1),"(3, 2)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
15,"(5, 1)",(2),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
16,"(2, 1)",(5),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
17,(1),"(5, 2)",0.50,1.00,0.50,1.000000,1.000000,0.000,inf
18,"(3, 5)",(1),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
19,"(3, 1)",(5),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
20,"(5, 1)",(3),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
21,(3),"(5, 1)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
22,(1),"(3, 5)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
23,"(3, 2)",(5),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
24,"(3, 5)",(2),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
25,"(5, 2)",(3),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
26,(3),"(5, 2)",0.75,1.00,0.75,1.000000,1.000000,0.000,inf
27,(2),"(3, 5)",1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
28,(5),"(3, 2)",1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
29,"(3, 2, 5)",(1),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
30,"(3, 1, 5)",(2),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
31,"(3, 2, 1)",(5),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
32,"(5, 2, 1)",(3),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
33,"(3, 5)","(2, 1)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
34,"(3, 2)","(5, 1)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
35,"(3, 1)","(5, 2)",0.50,1.00,0.50,1.000000,1.000000,0.000,inf
36,"(5, 1)","(3, 2)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
37,"(2, 1)","(3, 5)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf
38,(3),"(5, 2, 1)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
39,(1),"(3, 2, 5)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf

In [87]:
#Örneğin; support değeri %50 ve confidence değeri %75 diyerek dataframe üzerinden indirgemeler yapabiliriz.

In [88]:
rules = association_rules(df1, metric = "confidence", min_threshold = 0.6)
rules[ (rules['confidence'] >= 0.6) & (rules['support'] >= 0.75) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(3),(2),0.75,1.00,0.75,1.00,1.0,0.0,inf
5,(2),(3),1.00,0.75,0.75,0.75,1.0,0.0,1.0
6,(5),(2),1.00,1.00,1.00,1.00,1.0,0.0,inf
7,(2),(5),1.00,1.00,1.00,1.00,1.0,0.0,inf
8,(3),(5),0.75,1.00,0.75,1.00,1.0,0.0,inf
9,(5),(3),1.00,0.75,0.75,0.75,1.0,0.0,1.0
23,"(3, 2)",(5),0.75,1.00,0.75,1.00,1.0,0.0,inf
24,"(3, 5)",(2),0.75,1.00,0.75,1.00,1.0,0.0,inf
25,"(5, 2)",(3),1.00,0.75,0.75,0.75,1.0,0.0,1.0
26,(3),"(5, 2)",0.75,1.00,0.75,1.00,1.0,0.0,inf
27,(2),"(3, 5)",1.00,0.75,0.75,0.75,1.0,0.0,1.0
28,(5),"(3, 2)",1.00,0.75,0.75,0.75,1.0,0.0,1.0